@media screen and (max-width:576px) {

    .menu-container,
    .menus,
    .gamer-content,
    .gamer-container
       {
        flex-direction: column;
        
    }
    .game-gallary {
        grid-template-columns: repeat(1,1fr);
        gap: 15px;
      }
    header{
        margin-top: 10px;
        height: 250px;
    }
    .banner-container{
        flex-direction: column-reverse;
        margin: 10px;
        
    }
    .banner-content, 
    .banner-image,
    .gamer-content,
    .gamer-container,
    .game-video-container{
        width: 99%;
        margin-top: 5px;
        margin: 0px;
        padding: 2px;
        
    }
    .banner-text{
        margin-left: 30px;
    }
}

@media screen and (min-width:576px) and (max-width: 980px) {

    .menu-container,
    .menus
       {
        flex-direction: column;
          }
          .game-gallary {
            grid-template-columns: repeat(1,1fr);
          }
    header{
        margin-top: 10px;
        height: 240px;
    }
    .banner-container{
        flex-direction: column-reverse;
        margin: 10px;
        
    }
    .banner-content,
     .banner-image,
     .gamer-content
    {
        width: 100%;
        margin-top: 5px;
        
    }
    .banner-text{
        margin-left: 150px;
    }
    
}