@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,100;1,300;1,900&family=Work+Sans:ital,wght@0,200;0,300;0,400;0,500;0,700;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  --bg-text-color: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  --p-text-color: #534c64;
  --btn-color: #ff42a5;
  --bg-color: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
}

body {
  /* max-width: 1920px; */
  font-family: "Roboto", sans-serif;
  font-family: "Work Sans", sans-serif;
}

.full-container {
  max-width: 1640px;
  margin: 0px auto;
}
/* header section style  */

header {
  min-height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.menu-container {
  /* border: 1px solid blue; */
  max-width: 1440px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px 10px 0px;
  overflow: none;
  margin: 0 120px;
}

.logo-container {
  /* border: 1px solid rgb(88, 173, 31); */
  /* height: 80px; */
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo-container img {
  width: 86px;
  height: 40px;
  object-fit: cover;
}

.logo-container h1 {
  font-size: 45px;
  color: #0b0223;
  font-style: normal;
  font-weight: 700;
}

.logo-title {
  color: #ff42a5;
}

.menus {
  display: flex;
  gap: 20px;
  align-items: center;
}

.menus li {
  list-style: none;
}

.nav-btn {
  padding: 13px 20px;
  width: 100%;
  background: rgba(11, 2, 35, 0.1);
  border-radius: 8px;
  border: none;
  font-size: 0.9rem;
  color: #3c354f;
  text-align: center;
  font-family: Work Sans;
}

/* banner section style  */

.banner-container {
  /* border: 1px solid black; */
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  max-width: 1440px;
  display: flex;
  margin: 0 120px;
}

.banner-content {
  /* border: 1px solid rgb(4, 199, 21); */
  /* height: 700px; */
  width: 50%;
  background-image: url(../images/Grou-14.png);

  background-size: contain;
}

.banner-content li {
  list-style: none;
}
.banner-content h2 {
  margin-top: 120px;
  color: #0b0223;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

.banner-content h1 {
  font-size: 5rem;
  font-style: normal;
  font-weight: 800;
  text-transform: uppercase;
  background: var(--bg-text-color);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.banner-content ul li {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  flex-wrap: wrap;
}

.btn-one {
  padding: 21px 45px;
  align-items: flex-start;
  outline: none;
  border-radius: 48px;
  background: var(--btn-color);
  font-size: 1rem;
  border: none;
  color: white;
  margin-top: 20px;
}

.btn-two {
  padding: 21px 40px;
  align-items: flex-start;
  outline: none;
  border-radius: 48px;
  background: #4ec5f7;
  font-size: 1rem;
  border: none;
  color: white;
  margin-bottom: 60px;
}

.banner-image {
  /* border: 1px solid rgb(41, 12, 211); */
  width: 50%;
  overflow: none;
}

.banner-image img {
  width: 100%;
  height: auto;
}

/* We are gamer Section style */

.gamer-container {
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  max-width: 1440px;
  margin: 0 120px;
  background: var(--bg-color);
  display: flex;
  padding-top: 60px;
}

.gamer-image img {
  max-width: 100%;
}

.gamer-content {
  text-align: right;
  width: 35%;
}

.gamer-content h1 {
  background: var(--bg-text-color);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
  font-weight: 700;
}

.gamer-content p {
  color: var(--p-text-color);
  padding-bottom: 15px;
  padding-top: 15px;
}

/* Online Games Funny Videos  */

.game-text {
  background: var(--bg-text-color);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.game-video-container {
  padding-top: 60px;
  margin-bottom: 20px;
  font-size: 1.5rem;
  text-align: center;
}

.game-video-content {
  margin-top: 50px;
  display: grid;
  justify-content: space-around;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
}

.game-video-container p {
  font-size: 14px;
}

.game-gallary {
  padding-top: 20px;
  max-width: 1400px;
  margin: 0 120px;
  display: grid;
  justify-content: space-around;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
}

.video-game {
  position: relative;
  width: 99%;
  max-width: 300px;
  transition: transform 0.2s;
}

.video-game img {
  width: 100%;
  height: auto;
  padding-bottom: 20px;
}

.video-game a {
  text-decoration: none;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.3s ease;
  background-color: rgba(182, 170, 170, 0.238);
}
.video-game:hover .overlay {
  opacity: 1;
}

.icon {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

/* ----------play Instantly section----------  */

.play-container {
  width: 100%;

  /* box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05); */
  max-width: 1440px;
  margin: 0 120px;
  /* background: var(--bg-color); */
  display: flex;
  margin-top: 20px;
  padding-top: 20px;
}
.play-content {
  width: 40%;
  height: auto;
  text-align: right;
  padding-top: 250px;
  padding-right: 200px;
  color: #534c64;
}

.play-content h2 {
  font-size: 3rem;
}

.play-image {
  width: 65vh;
  position: relative;
  height: 620px;
}
.image-play img {
  width: 100%;
  height: auto;
}

.badge-img {
  position: relative;
  top: -270px;
  right: 150px;
  height: 0;
}

/* .play-content-two {
  text-align: left;
}

.badge-img-two {
  position: relative;
  top: -235px;
  left: 520px;
}

.play-content-two {
  border: 1px solid saddlebrown;
  width: 40%;
  height: auto;
  text-align: left;
  padding-top: 270px;
  color: #534c64;
} */

/* button container style  */

.btn-section {
  height: 427px;
  /* box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05); */
  max-width: 1440px;
  margin: 0 120px;
  margin-top: 100px;
  padding-top: 20px;
  background: var(--bg-color);
}

.btn-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: space-evenly;
  padding-top: 100px;
}

.btn-container div {
  width: 220px;
  border: 1px solid rgb(20, 9, 1);
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 50px;
  color: rgb(85, 25, 25);
  padding: 10px 10px;
  font-size: 0.9rem;
  font-weight: 700;
  cursor: pointer;
  border-radius: 50px;
}

.box:hover {
  background-color: #fff;
  border: 1px solid var(--btn-color);
  color: var(--btn-color);
}

/* footer style  */

.footer-container {
  background: #0b0223;
  text-align: center;
  color: #fff;
  height: 600px;
}

.footer-content {
  display: flex;
  justify-content: center;
  padding-top: 120px;
  gap: 10px;
}
.menu-footer {
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 40%;
}

.menu-footer ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2px;
  list-style: none;
}
.menu-footer-two ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 22px;
  padding: none;
  list-style: none;
}

.footer-p {
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 500;
  padding-top: 40px;
  padding-bottom: 40px;
}
